

  <div class="" style="text-align:center">
      <h1>DELICACIES</h1>
  </div>
  <div class="row">
    <h3>Level of Calories to Display: </h3>
    <select (change)="onChange($event.target.value)">
      <option value="all" selected="selected">Show All</option>
      <option value="high">Calories > 500</option>
      <option value="low" >Calories < 500</option>
    </select>
  </div>


  <div class="row one">
    <div class="col-sm-3" style="background-color:lavender;">
      <h6>Name:</h6>
    </div>
    <div class="col-sm-3" style="background-color:lavender;">
      <h6>Description:</h6>
    </div>
    <div class="col-sm-3" style="background-color:lavender;">
      <h6>Calories: </h6>
    </div>
    <div class="col-sm-3" style="background-color:lavender;">
      <h6>Action</h6>
    </div>
  </div>
  <hr size=3>

<div *ngFor="let currentMeal of childMealList | caloriesLevel:selectedCaloriesLevel">

  <div class="row">
    <div class="col-sm-3" style="background-color:black;">
      <h5>{{ currentMeal.name }}</h5>
    </div>
    <div class="col-sm-3" style="background-color:black;">
      <h5>{{ currentMeal.description }}</h5>
    </div>
    <div class="col-sm-3" style="background-color:black;">
      <h5>{{ currentMeal.calories }}</h5>
    </div>
    <div class="col-sm-3" style="background-color:black;">
      <div class="row">
        <div class="col-sm-5" style="background-color:black;">
            <button class="btn btn-outline-primary" (click)="editButtonHasBeenClicked(currentMeal)">Edit</button>
        </div>
        <div class="col-sm-7" style="background-color:black">
            <button class="btn btn-outline-danger" (click)="deleteButtonHasBeenClicked(currentMeal)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <hr size=4>
</div>
